<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>AWS Monitor</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
</head>
<body>
<div th:replace="layout/header :: header"/>
<div id="content">
    <div id="tabcontent" class="error">
        <h1 class="error" th:text="'Server Error: ' + ${status} + ' ' + ${error}"></h1>
        <p th:text="${message}"></p>
    </div>
</div>
<div th:replace="layout/footer :: footer"/>
</body>
</html>