<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"/>
    <meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>AWS Monitor</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/tablesorter.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.tablesorter.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
</head>
<body>
<div th:replace="layout/header :: header"/>
<div id="content">
    <div th:replace="layout/tabmenu :: tabmenu(menu='s3')"/>

    <div id="tabcontent">

        <h1>Simple Storage Service (S3)</h1>

        <!--/*
        <div style="text-align: right; margin-top: -30px;">
            <form id="regionForm" th:action="@{/s3}" method="get">
                <select id="region" name="region" onchange="selectRegion();">
                    <option value="">- region -</option>
                </select>
            </form>
        </div>*/-->

        <div id="dataList">
            <table id="tableList" class="tablesorter">
                <thead>
                <tr>
                    <!--/*<th style="text-align: center; width: 4%;">No</th>*/-->
                    <th>Bucket Name</th>
                    <th>Create Time</th>
                    <th># of Items</th>
                    <th>Total Size</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s3Info,rowStat : ${s3List}">
                    <!--/*<td th:text="${rowStat.index}"></td>*/-->
                    <td th:text="${s3Info.name}" style="font-weight: bold;"></td>
                    <td th:text="${#dates.format(new java.util.Date(s3Info.createTime), 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(s3Info.itemCount,0,'DEFAULT')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(s3Info.totalSize/(1024*1024),0,'DEFAULT') + ' MB'}"></td>
                </tr>
                </tbody>
            </table>

            <div style="float: right; text-align: right; font-size: 9px; color: #666;">
                Updated: <span th:text="${#dates.format(updated, 'yyyy-MM-dd HH:mm:ss')}"></span>
            </div>
            <div th:inline="text">
                [[${s3List.size()}]] buckets
            </div>
        </div>

    </div>
</div>

<div th:replace="layout/footer :: footer"/>

<script th:inline="javascript">
    $('#tableList').tablesorter();
</script>

</body>
</html>